#controls-wrapper {
  background-color: var(--black);
  border-radius: 8px;
  margin: 20px;
}

#controls-wrapper input:hover:enabled {
  background-color: var(--grey);
  border-radius: 50%;
}

#controls-wrapper input:focus {
  outline: 0;
}
