:root {
  --grey: #4c4e57;
  --white: #ffffff;
  --black: #000000;
  --blue: #2d76f6;
}

@font-face {
  font-family: 'Inconsolata';
  src: local('Inconsolata'), url(./fonts/Inconsolata-Black.ttf) format('truetype');
}

#app {
  height: 100vh;
  background: var(--grey);
  color: var(--white);
  font-family: Inconsolata;
  display: flex;
  justify-content: space-around;
}

#app > #center {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}
